.college-table {
    height: 500px;
    width: 100%;
    max-width: 100%; /* Example maximum width */
    /* overflow-x: auto; */
  }
  
  .search-input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .table-container {
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
  
  .virtualized-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  .table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  
  .header-row {
    background-color: #f1f1f1;
    font-weight: bold;
  }
  
  .table-cell {
    padding: 12px 16px;
    border-right: 1px solid #ddd;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .table-cell:last-child {
    border-right: none;
  }
  
  .featured-flag {
    color: red;
    font-weight: bold;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
  }
  
  .compare-container {
    display: flex;
    align-items: center;
  }
  
  .compare-container input {
    margin-right: 5px;
  }
  
  .featured {
    background: red;
    color: #fff !important;
    padding: 5px;
    width: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 0%;
}

.green {
  color: #35c2a2;
  font-weight: bold;
  margin-bottom: 10px;
}